root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 140
# Keep file names as-is instead of forcing PascalCase
ktlint_standard_filename = disabled
